.weather {
	padding: 15px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	height: 120px;
	width: 300px;
	line-height: 1em;
	text-align: center;
	vertical-align: middle;
	background-color: #FAFAFA;
	color: #616161;
}
.main,
.additional {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.main__content,
.additional__content {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;

}
.main__image-cont {
	display: inline-block;
}
.main__image {
	display: block;
	margin: 0 auto;
}

.main__row {
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
}
.main__row:first-of-type {
	margin-bottom: 10px;
}
.main__col {
	display: inline-block;
}
.main__col:first-of-type {
	width: 55%;
}
.main__col:nth-of-type(2) {
	width: 45%;
	vertical-align: top;
}
.main__left,
.main__right {
	display: inline-block;
}
.main__left {
	width: 65%;
}
.main__right {
	vertical-align: top;
	width: 35%;
}
.main__min,
.main__cur,
.main__feel,
.main__max,
.main__city,
.main__condition {
	line-height: 1em;
}
.main__cur {
	font-size: 50px;
	line-height: 1em;
	color: #29B6F6;
}
.main__min,
.main__max,
.main__feel {
	line-height: 1.2em;
	font-size: 12px;
	text-align: left;
}
.main__city {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	padding-right: 10%;
	float: right;
	position: relative;
}
.main__city:hover {
	cursor: pointer;
	color: #9E9E9E;
}
.main__city .material-icons {
	position: absolute;
	left: -20px;
	top: -2px;
	vertical-align: bottom;
	font-size: 20px;
	color: #29B6F6;

}
.main__city:hover .material-icons {
	animation: myanim 1s infinite;
}
.main__condition {
	font-size: 16px;
}

.additional {
	display: none;
	height: 100%;
}
.additional__city-input {
	display: inline-block;
	font-size: 16px;
	padding: 5px 10px;
	border: solid 2px #29B6F6;
}
.additional__error-mes {
	font-size: 16px;
	color: #EF5350;
	line-height: 1em;
	margin-bottom: 5px;
}

.additional__autocomplete-suggestion {
	max-height: 100px;
	width: 100%;
	overflow: scroll-y;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #29B6F6; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

 @keyframes myanim {
  0% {
    top: -2px;
  }

  50% {
	top: -10px;
  }

  100% {
    top: -2px;
  }
}

.clearfix:before {
	clear: both;
	content: '';
}
.clearfix:after {
	display: table;
	clear: both;
	content: '';
}
